{
  "printWidth": 120,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true
}
